{% extends 'layout.html' %}

{% block content %}
<main id="main">
    <div class="formwrapper">
        <center_things>
        <h1 class="title">{{ title }}</h1>
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            {{ form.username.label }}
            <br>
            {{ form.username }}
                {% if form.username.errors or username_error_message is not none or " " %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <p>{{ username_error_message }}</p>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ form.password.label }}
            <br>
            {{ form.password }}
                {% if form.password.errors or password_error_message is not none or " " %}
                    <ul class="errors">
                        {% if password_error_message is not none%}
                            <p>{{ password_error_message }}</p>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ form.submit }}
        </form>
        </center_things>
    </div>
</main>
{% endblock %}