<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CS235Flix</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='formatting.css') }}">
      <link rel="icon" type="image/png" href="/static/favicon.ico">
   </head>
   <body>
      <header>
         <div class="container">
            <h1 class="logo">CompSci235-Flix</h1>
            <strong>
                  <ul class="menu">
                     <li><a href="{{url_for('home')}}">Home</a></li>
                     {% if has_user == False %}
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('log_in')}}">Log In</a></li>
                     {% else %}
                        <li><a href="{{url_for('browse')}}">Browse</a></li>
                        <li><a href="{{url_for('profile')}}">Profile</a></li>
                        <li><a href="{{url_for('log_out')}}">Log Out</a></li>
                     {% endif %}
                  </ul>
            </strong>
         </div>
      </header>
      {% block content %}
      {% endblock %}
   </body>
</html>
