<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CS235Flix</title>
   </head>
   <body>
      {% extends "base_page.html" %}
      {% block content %}
      <h2>{{page_name}}</h2>
      <form action="/search_movie" method="POST">
         <input name="search_term">
         <select name="category" id="movies">
           <option value="title">Title</option>
           <option value="actor">Actor</option>
           <option value="director">Director</option>
           <option value="genre">Genre</option>
         </select>
      </form>
      <p> Here are some movies. </p>
      {% for movie in list %}
            <li>
               <a href="{{url_for('movie_page', movie_id = movie.id)}}">{{movie.title}}, {{movie.releaseDate}}</a>
            </li>
      {% endfor %}
      {% endblock %}
   </body>
</html>