<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CS235Flix</title>
   </head>
   <body>
      {% extends "base_page.html" %}
      {% block content %}
      <center_things>
      <h2>{{page_name}}</h2>
      <p> Enter your username and password: </p>
      <form action="/logging_in" method="POST" autocomplete="off">
         <input name="username">
         <br>
         <input type="password" name="password">
         <br>
         <input type="submit">
         <p> Don't have an account? <a href="{{url_for('register')}}">Register here.</a> </p>
      </form>
      </center_things>
      {% endblock %}
   </body>
</html>