<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CS235Flix</title>
   </head>
   <body>
      {% extends "base_page.html" %}
      {% block content %}
      <h2>{{page_name}}</h2>
      <p> Director: {{movie.director.director_full_name}} </p>
      {% set genre_list = [] %}
      {% for genre in movie.genres %}
            {{ genre_list.append(genre.genre) or '' }}
      {% endfor %}
      <p> Genre(s): {{genre_list|join(", ")}} </p>
      {% set actor_list = [] %}
      {% for actor in movie.actors %}
            {{ actor_list.append(actor.actor) or '' }}
      {% endfor %}
      <p> Cast: {{actor_list|join(", ")}} </p>
      <p> Description: {{movie.description}}</p>
      <p> Runtime: {{movie.runtime_minutes}} minutes </p>
      <p> Rating: {{movie.rating}} </p>
      <p> Metascore: {{movie.metascore}} </p>
      {% endblock %}
   </body>
</html>