<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>CS235Flix</title>
   </head>
   <body>
      {% extends "base_page.html" %}
      {% block content %}
      <center_things>
      <form action="/new_account" method="POST" autocomplete="off">
         <h2>{{page_name}}</h2>
         <p> Register an account here! </p>
         <p> Username: </p>
         <input name="username">
         {% if user_exists == True %}
            <label for="username"> This username is taken! Please choose another. </label>
         {% endif %}
         <br>
         <p> Password: </p>
         <input name="password">
         <p>Enter your password again:</p>
         <input name="passwordconfirm">
         {% if password_error == True %}
            <label for="password"> Your passwords don't match! Please try again. </label>
         {% endif %}
         <br>
         <input type="submit">
         <p> Already have an account? <a href="{{url_for('log_in')}}">Log in here.</a> </p>
      </form>
      </center_things>
      {% endblock %}
   </body>
</html>